.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f172a;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
}

.navbar button {
  background-color: #38bdf8;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 500;
}

.navbar span {
  font-weight: bold;
}
