.product-list {
  margin-top: 20px;
}

.product-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ALWAYS 2 columns */
  gap: 20px;
}


.product-card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  font-size: 15px;
  font-weight: 600;
  margin: 6px 0;
}

.product-category {
  font-size: 12px;
  color: #64748b;
}

.product-description {
  font-size: 13px;
  color: #475569;
  margin: 8px 0;
  flex-grow: 1;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #16a34a;
}

.add-btn {
  margin-top: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  width:500px;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }

  .product-controls {
    flex-direction: column;
  }
}

.stock {
  font-size: 13px;
  font-weight: bold;
  margin: 6px 0;
}

.stock.in {
  color: #16a34a;
}

.stock.out {
  color: #dc2626;
}

.add-btn:disabled {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.add-btn:disabled {
  background-color: #94a3b8;
  cursor: not-allowed;
}
